# 제 3장 반복이 없는 이원배치법

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [14]:
ex3_1 = pd.DataFrame({'사료1' : [54.2, 50.7, 49.8],
                     '사료2' : [46.3, 49.5, 45.7],
                     '사료3' : [55.3, 49.4, 51.9],
                     '사료4' : [56.1, 53.9, 55.2]})

In [15]:
ex3_1.describe()

             사료1        사료2        사료3        사료4
count   3.000000   3.000000   3.000000   3.000000
mean   51.566667  47.166667  52.200000  55.066667
std     2.324507   2.042874   2.961419   1.106044
min    49.800000  45.700000  49.400000  53.900000
25%    50.250000  46.000000  50.650000  54.550000
50%    50.700000  46.300000  51.900000  55.200000
75%    52.450000  47.900000  53.600000  55.650000
max    54.200000  49.500000  55.300000  56.100000

In [35]:
A1_b = ex3_1.iloc[:,0].values.mean()
A2_b = ex3_1.iloc[:,1].values.mean()
A3_b = ex3_1.iloc[:,2].values.mean()
A4_b = ex3_1.iloc[:,3].values.mean()

In [36]:
print(A1_b,A2_b,A3_b,A4_b)

51.56666666666666 47.166666666666664 52.199999999999996 55.06666666666666

In [31]:
B1_b = ex3_1.loc[0,:].values.mean()
B2_b = ex3_1.loc[1,:].values.mean()
B3_b = ex3_1.loc[2,:].values.mean()

In [38]:
Amean = [A1_b,A2_b,A3_b,A4_b]
Bmean = [B1_b,B2_b,B3_b]

In [17]:
print(B1_b,B2_b,B3_b)

52.975 50.875 50.650000000000006

In [37]:
Allmean = np.mean([52.975,50.875,50.65])
Allmean

51.5

In [25]:
ex3_1.iloc[0,3]

56.1

In [26]:
b=[]
for i in range(3):
    a=[]
    for j in range(4):
        a.append(ex3_1.iloc[i,j]-Amean)
    b.append(a)
print(b)

[[2.700000000000003, -5.200000000000003, 3.799999999999997, 4.600000000000001], [-0.7999999999999972, -2.0, -2.1000000000000014, 2.3999999999999986], [-1.7000000000000028, -5.799999999999997, 0.3999999999999986, 3.700000000000003]]

In [27]:
ex3_1_a = pd.DataFrame(b)

In [28]:
ex3_1_a

     0    1    2    3
0  2.7 -5.2  3.8  4.6
1 -0.8 -2.0 -2.1  2.4
2 -1.7 -5.8  0.4  3.7

In [30]:
51.5-47.17

4.329999999999998

In [40]:
b=[]
for i in range(3):
    a=[]
    for j in range(4):
        a.append(ex3_1.iloc[i,j]-Amean[j]-Bmean[i]+Allmean)
    b.append(a)
print(b)

[[1.1583333333333385, -2.3416666666666686, 1.625, -0.4416666666666629], [-0.24166666666666003, 2.9583333333333357, -2.174999999999997, -0.5416666666666643], [-0.9166666666666714, -0.6166666666666671, 0.5499999999999972, 0.9833333333333343]]

In [41]:
ex3_1_b = pd.DataFrame(b)

In [42]:
ex3_1_b

          0         1      2         3
0  1.158333 -2.341667  1.625 -0.441667
1 -0.241667  2.958333 -2.175 -0.541667
2 -0.916667 -0.616667  0.550  0.983333

In [78]:
b = 0
for i in range(3):
    a = 0
    for j in range(4):
        a = a + ex3_1_a.iloc[i,j]**2
    b = b + a
print(b/12)

11.260000000000003

In [89]:
ex3_1_A = pd.DataFrame({'A1':[0.07,0.07,0.07],'A2':[-4.33,-4.33,-4.33],'A3':[0.7,0.7,0.7],'A4':[3.57,3.57,3.57]})

In [90]:
ex3_1_B = pd.DataFrame({'A1':[1.475,-0.62,-0.85],'A2':[1.475,-0.62,-0.85],'A3':[1.475,-0.62,-0.85],'A4':[1.475,-0.62,-0.85]})

In [63]:
7.997+1.094+2.165

11.256

In [79]:
len(ex3_1_B.iloc[0,:])

4

In [73]:
len(ex3_1_B.iloc[:,0])

3

In [82]:
def SS(X):
    b = 0
    for i in range(len(X.iloc[:,0])):
        a = 0
        for j in range(len(X.iloc[0,:])):
            a = a + X.iloc[i,j]**2
        b = b + a
    return print(b/12)

In [101]:
SS(ex3_1_A)

7.997174999999999

In [97]:
SS(ex3_1_B)

1.094175

In [98]:
SS(ex3_1_b)

2.1654166666666685

In [106]:
ssa = 7.997/3

In [107]:
ssb = 1.094/2

In [108]:
sse = 2.165/6

In [109]:
F1 = ssa/sse
F2 = ssb/sse
print(F1,F2)

7.387528868360277 1.5159353348729794

$$ F_{(6,3,0.05)}= 4.76 $$

$$ F_{(6,2,0.05)}= 5.14 $$

$$ H_0 : \text{차이가 없다}, \space \space H_1 : \text{차이가 존재한다} $$

$$ \text{기각역} \space R > F_{(6,3,0.05)}= 4.76$$

$$F_{AE} = 7.3875$$

$$ H_0 \space Reject $$

---

### 10/07

## 예제 [3-2]
어떤 화학공장에서 제품의 수율(yield, %)에 영향을 미칠 것으로 생각되는 반응온도와 원료를 요인으로 취하여 반복이 없는 이원배치의 실험을 하였다.

In [4]:
import numpy as np
import pandas as pd
import math

In [8]:
df = pd.DataFrame({'A1' : [97.6,97.3,96.7],
                   'A2' : [98.6,98.2,96.9],
                   'A3' : [99.0,98.0,97.9],
                   'A4' : [98.0,97.7,96.5]})
df

     A1    A2    A3    A4
0  97.6  98.6  99.0  98.0
1  97.3  98.2  98.0  97.7
2  96.7  96.9  97.9  96.5

In [13]:
CT = 1172.4**2/(4*3)
CT

114543.48000000003

In [16]:
def SS(X):
    b = 0
    for i in range(len(X.iloc[:,0])):
        a = 0
        for j in range(len(X.iloc[0,:])):
            a = a + X.iloc[i,j]**2
        b = b + a
    return print(b)

In [17]:
SS(df)

114549.70000000001

In [19]:
393.3**2/4+391.2**2/4+388.0**2/4 - CT

23.102499999979045

In [22]:
(291.6**2+293.7**2+294.9**2+292.2**2)/3 - CT

2.2199999999720603

In [21]:
df.describe()

              A1         A2         A3         A4
count   3.000000   3.000000   3.000000   3.000000
mean   97.200000  97.900000  98.300000  97.400000
std     0.458258   0.888819   0.608276   0.793725
min    96.700000  96.900000  97.900000  96.500000
25%    97.000000  97.550000  97.950000  97.100000
50%    97.300000  98.200000  98.000000  97.700000
75%    97.450000  98.400000  98.500000  97.850000
max    97.600000  98.600000  99.000000  98.000000

In [23]:
Df = df.transpose()

In [24]:
Df

       0     1     2
A1  97.6  97.3  96.7
A2  98.6  98.2  96.9
A3  99.0  98.0  97.9
A4  98.0  97.7  96.5

In [25]:
Df.describe()

               0          1          2
count   4.000000   4.000000   4.000000
mean   98.300000  97.800000  97.000000
std     0.621825   0.391578   0.621825
min    97.600000  97.300000  96.500000
25%    97.900000  97.600000  96.650000
50%    98.300000  97.850000  96.800000
75%    98.700000  98.050000  97.150000
max    99.000000  98.200000  97.900000

In [26]:
98.3*4

393.2

In [28]:
97.8*4

391.2

In [29]:
97*4

388

In [37]:
print(round((393.2**2+391.2**2+388**2)/4 - CT,2),round((393.3**2+391.2**2+388**2)/4 - CT,2))

3.44 23.1

In [38]:
6.22-2.22-3.44

0.5599999999999996

In [41]:
0.56/6

0.09333333333333334

In [46]:
F = 0.74/0.093
F

7.956989247311828

In [47]:
97.2+98.3-97.7

97.8

In [48]:
star = 2.477*math.sqrt(0.093/2)

In [55]:
print('[',round(97.8-star,2),',',round(97.8+star,2),']')

[ 97.27 , 98.33 ]

In [56]:
98.3+98.3-97.7

98.89999999999999

In [57]:
print('[',round(98.9-star,2),',',round(98.9+star,2),']')

[ 98.37 , 99.43 ]

In [60]:
97.2-98.3

-1.0999999999999943

In [63]:
star = 2.477*math.sqrt(2*0.093/3)

In [64]:
print('[',round(-1.1-star,2),',',round(-1.1+star,2),']')

[ -1.72 , -0.48 ]