# 실험설계_2장_일원배치분산분석_(2)

## [5] 다중비교

### 1. 다중비교 검증 (multiple comparisons test)

분산분석법에서는 오로지 처리 평균들 간에 차이가 있는지 없는지 만을 검증한다. 분산분석을 하여 처리들 가에 평균, 즉, 처리 효과의 차이가 있다는 사실이 밝혀지면 그 다음 분석에서는 어느 처리의 평균값이 다른 처리들과 달라서 그리 되었는지 밝혀야한다. 이와 같은 추가 분석을 다중비교 검증이라한다. 다중비교 검증은 고정효과 요인들에 대해서만 적합하다. 랜덤효과 요인들에 대한 다중 비교는 전혀 무의미하다.

#### 1) 일원배치 분산분석

$$ H_0 : \mu_1 = \mu_2 = \mu_3 $$
$$\Rightarrow \text{세 개의 평균이 동시에 같은지를 검정하는 것이다.} $$

일원배치 분산분석 / 일변량 분산분석

In [1]:
(29.729-1.896)/4

6.95825

In [2]:
1.896 + 6.958

8.854

In [3]:
6.958/8.854*100

78.58594985317372

In [2]:
0.049/0.074

0.6621621621621622

In [5]:
((0.373-0.025)/7)/((0.373-0.025)/7+0.025)

0.6653919694072659

In [6]:
A = [78,89,68,66,70,80,69,77,90,82]
B = [56,64,53,71,71,60,59,66,70,71]
C = [98,96,95,79,85,88,95,98,90,92]
D = [60,79,82,85,67,59,92,85,66,68]
E = [70,72,77,76,76,78,80,72,76,74]

In [7]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({ '복사기1' : A,
                    '복사기2' : B,
                    '복사기3' : C,
                    '복사기4' : D,
                    '복사기5' : E})
df

   복사기1  복사기2  복사기3  복사기4  복사기5
0    78    56    98    60    70
1    89    64    96    79    72
2    68    53    95    82    77
3    66    71    79    85    76
4    70    71    85    67    76
5    80    60    88    59    78
6    69    59    95    92    80
7    77    66    98    85    72
8    90    70    90    66    76
9    82    71    92    68    74

In [11]:
df.describe()

            복사기1       복사기2       복사기3      복사기4       복사기5
count  10.000000  10.000000  10.000000  10.00000  10.000000
mean   76.900000  64.100000  91.600000  74.30000  75.100000
std     8.582281   6.773314   6.168018  11.66238   3.071373
min    66.000000  53.000000  79.000000  59.00000  70.000000
25%    69.250000  59.250000  88.500000  66.25000  72.500000
50%    77.500000  65.000000  93.500000  73.50000  76.000000
75%    81.500000  70.750000  95.750000  84.25000  76.750000
max    90.000000  71.000000  98.000000  92.00000  80.000000

In [20]:
(72.2664)/((815.18-92.516)/10+92.516)

0.4385565448737244

In [21]:
(36.933-1.8)/3

11.711

In [22]:
11.711/(11.711+1.8)

0.8667752201909554

---

## 10/31

### 2-12번 문제

In [1]:
2437.572-2193.442

244.1300000000001

In [7]:
2193.442/4

548.3605

In [8]:
244.13/25

9.7652

In [9]:
548.3605/9.7652

56.1545590464097

In [10]:
Y_1 = 32.1
Y_2 = 40.2
Y_3 = 44.1
Y_4 = 41.1
Y_5 = 58.3

In [11]:
Y_1
Y_2
Y_4
Y_3
Y_5

58.3

### Tukey의 검정 -------------------------------------------------

$$  H_0 : \mu_1 = \mu_5  $$

검정통계량
$$ q = \frac {|\bar{Y_1} - \bar{Y}_2|} {\sqrt{s^2/r}}$$

In [41]:
import math
q15 = (58.3-32.1)/math.sqrt(9.77/6)
q15

20.53192336764935

q분포의 (24,4) = 4.166

In [30]:
q13 = (44.1-32.1)/math.sqrt(9.77/6)
q25 = (58.3-40.2)/math.sqrt(9.77/6)

In [31]:
display(q13,q25)

9.4039343668623

14.184267670017299

In [26]:
q14 = (41.1-32.1)/math.sqrt(9.77/6)
q23 = (44.1-40.2)/math.sqrt(9.77/6)
q45 = (58.3-41.1)/math.sqrt(9.77/6)

In [27]:
display(q14,q23,q45)

7.052950775146725

3.0562786692302466

13.478972592502627

In [28]:
q12 = (40.2-32.1)/math.sqrt(9.77/6)
q35 = (58.3-44.1)/math.sqrt(9.77/6)

In [29]:
display(q12,q35)

6.347655697632054

11.127989000787052

### Dunnett -----------------------------------------------------

In [37]:
print(Y_1, Y_2, Y_4, Y_3, Y_5)

32.1 40.2 41.1 44.1 58.3

In [38]:
q_05_24_5 = 4.166
q_05_24_4 = 3.901
q_05_24_3 = 3.532
q_05_24_2 = 2.919

In [43]:
def reject_test(R,target):
    if R>target: print('H0 not reject')
    else : print('H0 reject')

In [44]:
reject_test(q_05_24_5,q15)

H0 reject

### 2-20

In [46]:
SSe = 135.78-39.308
print(SSe)

96.47200000000001

In [51]:
MSR = 39.308/3

In [52]:
MSE = SSe/(31-3)

In [54]:
F = MSR/MSE
F

3.8029134532990567

### 2-17

In [57]:
print(32.1,40.2,41.1,44.1,58.3)

32.1 40.2 41.1 44.1 58.3

In [55]:
R = 4.18

In [56]:
def tukey(a,b,c,d):
    if a>=b:
        A = a
        B = b
    else :
        A = b
        B = a
    return (A-B)/math.sqrt(c/d)

In [59]:
display(tukey(58.1,44.1,2*9.77,6),
tukey(58.1,41.1,2*9.77,6),
tukey(58.1,40.2,2*9.77,6),
tukey(58.1,32.1,2*9.77,6))

7.757850054081813

9.420246494242202

9.918965426290319

14.407435814723367

In [61]:
print(2.61, 2.51, 2.35, 2.06)

2.61 2.51 2.35 2.06