In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [6]:
data = pd.read_csv('축구_러시아리그.csv')
data.head()

   Unnamed: 0   나라       Team  MP  W  D  L   F   A         연도
0           1  러시아     크라스노다르   7  5  2  0  11   2  2023/2024
1           2  러시아   디나모 모스크바   7  4  2  1  15  12  2023/2024
2           3  러시아  크릴리야 소베토프   7  4  2  1  17   9  2023/2024
3           4  러시아        제니트   7  4  2  1  15   6  2023/2024
4           5  러시아         우랄   7  4  1  2   8   8  2023/2024

In [25]:
df = data[['연도','나라','Team','MP','W','D','L','F','A']]

In [27]:
df.rename(columns = {'MP':'경기수'},inplace= True)

C:\Users\effor\AppData\Local\Temp\ipykernel_14440\1160734384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {'MP':'경기수'},inplace= True)

In [28]:
df

            연도   나라       Team  경기수  W   D   L   F   A
0    2023/2024  러시아     크라스노다르    7  5   2   0  11   2
1    2023/2024  러시아   디나모 모스크바    7  4   2   1  15  12
2    2023/2024  러시아  크릴리야 소베토프    7  4   2   1  17   9
3    2023/2024  러시아        제니트    7  4   2   1  15   6
4    2023/2024  러시아         우랄    7  4   1   2   8   8
..         ...  ...        ...  ... ..  ..  ..  ..  ..
155  2014/2015  러시아         우파   30  7  10  13  26  39
156  2014/2015  러시아         우랄   30  9   3  18  31  44
157  2014/2015  러시아       로스토프   30  7   8  15  27  51
158  2014/2015  러시아  토르페도 모스크바   30  6  11  13  28  45
159  2014/2015  러시아     아스날 툴라   30  7   4  19  20  46

[160 rows x 9 columns]

In [29]:
df.rename(columns = {'W': '승',
                    'D' : '무',
                    'L' : '패',
                    'F' : '승점',
                    'A' : '실점'},inplace= True)

C:\Users\effor\AppData\Local\Temp\ipykernel_14440\155455023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {'W': '승',

In [30]:
df

            연도   나라       Team  경기수  승   무   패  승점  실점
0    2023/2024  러시아     크라스노다르    7  5   2   0  11   2
1    2023/2024  러시아   디나모 모스크바    7  4   2   1  15  12
2    2023/2024  러시아  크릴리야 소베토프    7  4   2   1  17   9
3    2023/2024  러시아        제니트    7  4   2   1  15   6
4    2023/2024  러시아         우랄    7  4   1   2   8   8
..         ...  ...        ...  ... ..  ..  ..  ..  ..
155  2014/2015  러시아         우파   30  7  10  13  26  39
156  2014/2015  러시아         우랄   30  9   3  18  31  44
157  2014/2015  러시아       로스토프   30  7   8  15  27  51
158  2014/2015  러시아  토르페도 모스크바   30  6  11  13  28  45
159  2014/2015  러시아     아스날 툴라   30  7   4  19  20  46

[160 rows x 9 columns]

In [42]:
DF = df.iloc[16:].reset_index(drop = True)

In [43]:
DF

            연도   나라        Team  경기수   승   무   패  승점  실점
0    2022/2023  러시아         제니트   30  21   7   2  74  20
1    2022/2023  러시아   CSKA 모스크바   30  17   7   6  56  27
2    2022/2023  러시아  스파르타크 모스크바   30  15   9   6  60  38
3    2022/2023  러시아        로스토프   30  15   8   7  48  44
4    2022/2023  러시아     테렉 그로츠니   30  15   5  10  51  39
..         ...  ...         ...  ...  ..  ..  ..  ..  ..
139  2014/2015  러시아          우파   30   7  10  13  26  39
140  2014/2015  러시아          우랄   30   9   3  18  31  44
141  2014/2015  러시아        로스토프   30   7   8  15  27  51
142  2014/2015  러시아   토르페도 모스크바   30   6  11  13  28  45
143  2014/2015  러시아      아스날 툴라   30   7   4  19  20  46

[144 rows x 9 columns]

In [70]:
DF.rename(columns = {'승점' : '득점'},inplace = True)

In [71]:
DF

            연도   나라        Team  경기수   승   무   패  득점  실점
0    2022/2023  러시아         제니트   30  21   7   2  74  20
1    2022/2023  러시아   CSKA 모스크바   30  17   7   6  56  27
2    2022/2023  러시아  스파르타크 모스크바   30  15   9   6  60  38
3    2022/2023  러시아        로스토프   30  15   8   7  48  44
4    2022/2023  러시아     테렉 그로츠니   30  15   5  10  51  39
..         ...  ...         ...  ...  ..  ..  ..  ..  ..
139  2014/2015  러시아          우파   30   7  10  13  26  39
140  2014/2015  러시아          우랄   30   9   3  18  31  44
141  2014/2015  러시아        로스토프   30   7   8  15  27  51
142  2014/2015  러시아   토르페도 모스크바   30   6  11  13  28  45
143  2014/2015  러시아      아스날 툴라   30   7   4  19  20  46

[144 rows x 9 columns]

In [72]:
corr = DF[['승','무','패','득점','실점']].corr()
corr

           승         무         패        득점        실점
승   1.000000 -0.309332 -0.843587  0.846940 -0.663990
무  -0.309332  1.000000 -0.249707 -0.219163 -0.251589
패  -0.843587 -0.249707  1.000000 -0.738648  0.818186
득점  0.846940 -0.219163 -0.738648  1.000000 -0.400573
실점 -0.663990 -0.251589  0.818186 -0.400573  1.000000

In [73]:
import scipy.stats as stats

In [77]:
W = DF['승']
D = DF['무']
L = DF['패']
F = DF['득점']
A = DF['실점']
WP = []
for i in range(len(W)):
    WP.append(W[i]*3 + D[i]*1)

In [69]:
display(
stats.pearsonr(W,D),
stats.pearsonr(W,L),
stats.pearsonr(W,F),
stats.pearsonr(W,A),
stats.pearsonr(D,L),
stats.pearsonr(D,F),
stats.pearsonr(D,A),
stats.pearsonr(L,F),
stats.pearsonr(L,A),
stats.pearsonr(F,A))

PearsonRResult(statistic=-0.3093323609140091, pvalue=0.00016155896470333722)

PearsonRResult(statistic=-0.8435867111565925, pvalue=3.574622833569884e-40)

PearsonRResult(statistic=0.8469395006473184, pvalue=8.698005779249826e-41)

PearsonRResult(statistic=-0.663990183010928, pvalue=1.1798260075036356e-19)

PearsonRResult(statistic=-0.24970694793313733, pvalue=0.0025417010694404945)

PearsonRResult(statistic=-0.21916293015250643, pvalue=0.00831018597455276)

PearsonRResult(statistic=-0.2515892439406572, pvalue=0.0023513512470542896)

PearsonRResult(statistic=-0.7386484963020583, pvalue=4.286755564579049e-26)

PearsonRResult(statistic=0.8181863753926903, pvalue=6.004883806821681e-36)

PearsonRResult(statistic=-0.4005729348158211, pvalue=6.527831386327805e-07)

In [91]:
DF2

     경기수  승점  득점  실점
0     30  70  21   2
1     30  58  17   6
2     30  54  15   6
3     30  53  15   7
4     30  50  15  10
..   ...  ..  ..  ..
139   30  31   7  13
140   30  30   9  18
141   30  29   7  15
142   30  29   6  13
143   30  25   7  19

[144 rows x 4 columns]

In [82]:
DF2.corr()

     경기수        승점        득점        실점
경기수  NaN       NaN       NaN       NaN
승점   NaN  1.000000  0.983059 -0.927721
득점   NaN  0.983059  1.000000 -0.843587
실점   NaN -0.927721 -0.843587  1.000000

In [92]:
x_data = DF2[['실점','득점']]
target = DF2[['승점']]
x_data1 = sm.add_constant(x_data, has_constant = "add")

multi_model = sm.OLS(target, x_data1)
fitted_multi_model = multi_model.fit()
fitted_multi_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     승점   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.342e+32
Date:                Mon, 13 Nov 2023   Prob (F-statistic):               0.00
Time:                        23:50:58   Log-Likelihood:                 4445.2
No. Observations:                 144   AIC:                            -8884.
Df Residuals:                     141   BIC:                            -8876.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         30.0000    7.1e-15   4.23e+15      0.000      30.000      30.000
실점            -1.0000   3.33e-16     -3e+15      0.000      -1.000      -1.000
득점             2.0000   3.27e-16   6.12e+15      0.000       2.000       2.000
==============================================================================
Omnibus:                        2.081   Durbin-Watson:                   0.761
Prob(Omnibus):                  0.353   Jarque-Bera (JB):                2.065
Skew:                           0.231   Prob(JB):                        0.356
Kurtosis:                       2.639   Cond. No.                         141.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [96]:
K= DF2[['실점']]-DF2[['득점']]

In [97]:
x_data = K
target = DF2[['승점']]
x_data1 = sm.add_constant(x_data, has_constant = "add")

multi_model = sm.OLS(target, x_data1)
fitted_multi_model = multi_model.fit()
fitted_multi_model.summary()

MissingDataError: exog contains inf or nans